<% print_bitcointalk = function (typeId) {
var sections = public.bounty._data.index.ui.filter(data => data.typeId == typeId)
var name = sections[0].name;
%>
[color=#3f87b1][size=18pt][b]<%= name %>[/b][/size][/color]
    <% sections.forEach(function(item){ %>
[size=12pt][b]<%= item.id %>[/b][/size]: [size=12pt]<%= item.title %>[/size]
<%= item.description.replace('<pre>','[code]').replace('</pre>','[/code]') %>
[size=12pt]Reward: [b]<%= item.reward %>[/b] <%= item.rewardType %> / <%= item.frequency %>[/size]
    <% }); %>
[url=https://asure.network/bounty][b]Stake status / more details[/b][/url]
<% } %>


<div class="row">
    <div class="col-lg-12">
        <div class="card mt-4">
            <div class="card-header">
                <h5>🔥[BOUNTY]🔥[NO KYC] ASURE NETWORK | SOCIAL SECURITY NETWORK💰($5M ASR Reward)💰</h5>
            </div>
            <div class="card-body ">

<pre>
[center][size=32px][b]Welcome to the Asure Bounty Programm II[/b][/size]<br/><br/>
[center][img]https://www.asure.network/logo/asure-logo256x256.png[/img][/center]
[color=#444444][size=50px][b]Asure Network[/b][/size][/color]<br/>
[color=#444444][size=28px][b]FIRST SCALABLE DECENTRALIZED SOCIAL SECURITY NETWORK[/b][/size][/color][/center]

[center][img]https://cdn-images-1.medium.com/max/800/0*v0axmieXdLcJ8Twa.png[/img][/center]

[size=16px]In order to increase the attractiveness and awareness of the project, we would like to make the tasks as accurate and transparent as possible and look forward to every participant in this Bounty program.[/size]

[size=16px]We have reserved $ 5 million to increase the reach for the project. We know, through discussions with international authorities, that there is a need for this issue and we look forward to working with you to change this area of social security.[/size]

[center]
[img]https://cdn-images-1.medium.com/max/1200/1*8sRflw-bIaQ-s6QBQKCjXA.png[/img]
[img]https://cdn-images-1.medium.com/max/1200/1*e05voR-Dj4K-KAtkdww4bg.png[/img]
[/center]

[center]
[color=#3f87b1][size=28px][b]Website:[/b][/size][/color] [size=28px][b]https://asure.network[/b][/size]<br/>
[color=#3f87b1][size=28px][b]••[url=https://fb.me/AsureNetwork]Facebook[/url]••[url=https://t.me/AsureNetwork]Telegram[/url]••[url=https://youtube.com/c/AsureNetwork]Youtube[/url]••[url=https://twitter.com/AsureNetwork]Twitter[/url]••[url=https://www.linkedin.com/company/asure]Linkedin[/url]••[url=https://medium.com/AsureNetwork]Blog[/url]••[url=https://bitcointalk.org/index.php?topic=5144579]ANN[/url]••[/b][/size][/color]<br/>

[size=28px][b]Bounty will start from 15 August to 31 December 2019 (18 weeks)[/b][/size]<br/>
[size=28px][b]5.000.000 ASR tokens are allocated for Bounty Programm (1 ASR = 1$).[/b][/size]<br/>

[size=28px][b]Bounty Allocation[/b][/size]<br/>
[center][img]https://cdn-images-1.medium.com/max/1200/1*LfC45ZD91066ETPQCMPsRQ.png[/img][/center]<br/>

[size=28px][b]Bounty Programm II[/b][/size]<br/>
[/center]

[color=#3f87b1][size=18pt][b]Airdrop[/b][/size][/color]

[size=12pt]Registration Airdrop[/size]
Just follow the easy steps in https://bitcointalk.org/index.php?topic=5173993 topic.
[size=12pt]Reward: [b]100[/b] Stakes / Once[/size]<br/>

                <%
print_bitcointalk("facebook");
print_bitcointalk("twitter");
print_bitcointalk("telegram");
print_bitcointalk("linkedin");
print_bitcointalk("bitcointalk");
print_bitcointalk("reddit");
print_bitcointalk("cc");
                %>

[size=18pt][b]How to apply?[/b][/size]

[b]Step 1: Register with the bounty program.[/b]
Fill out the registration form once: https://forms.gle/kLfbUSbyfjRSZEkU7

[b]Step 2: Report your activities every week.[/b]
Please submit your weekly work report to this topic on Bitcointalk and use the template below.
Also, submit your weekly work report through our Google form: https://forms.gle/44kY2bQcw1C9NDkq8

[b]Bitcointalk report template[/b]
ERC-20 Wallet Address : ________
Campaign ID: ________
Week Number: __________
Work URLs:
1. _________
2. _________
3. _________
4. _________
5. _________

[b]Note:[/b] Valid Week numbers are from 34 to 52. Campaign IDs can be found in the campaign tasks and have the following form: TWITTER01, FACEBOOK02, LINKEDIN03, etc.


[size=18pt][b]Rules[/b][/size]

[li]We reserve the right to limit the number of participants in the campaigns at any time.[/li]
[li]We reserve the right to change the conditions of our bounty campaign at any time.[/li]
[li]Only one account per person. Using multi-accounts, cheating and spamming are strictly forbidden.[/li]
[li]Your payment address cannot be changed. Once you apply, your address will be locked. (Every participant is responsible for the protection of his/her payment address and private keys).[/li]
[li]You need to join our Bounty Telegram group in order to participate in the Asure Bounty program.[/li]
[li]Without joining the telegram group, you will not be counted on any Bounty.[/li]
[li]The Telegram link is: https://t.me/AsureNetwork[/li]
[li]The Bounty Telegram link is: https://t.me/AsureBounty[/li]
[li]Any users who get their Bitcointalk/Facebook/Twitter account banned will lose ALL stakes. Please use your accounts responsibly.[/li]
[li]The ones breaking the rule will be disqualified from the Bounty program without getting any tokens.[/li]
[li]We reserve the right to disqualify any user at any time.[/li]
[li]You accept, that we can repost your post in our publications.[/li]
[li]By signing up for the bounty, you accept these terms.[/li]


[b]Note:[/b] ALL BOUNTY RELATED QUESTIONS MUST BE ASKED ONLY IN OUR BOUNTY GROUP HERE: https://t.me/AsureBounty

[center]
[img]https://cdn-images-1.medium.com/max/1200/1*ItfD6c57HC1wo7-mZbyrPw.png[/img]
[img]https://cdn-images-1.medium.com/max/1200/1*Zc5XJMJR7Fv20JaSDhmUag.png[/img]
[img]https://cdn-images-1.medium.com/max/1200/1*cUe73Um1OxsLnHQ-jcqtHg.png[/img]
[/center]
                    </pre>
            </div>
        </div>
    </div>
</div>



