<section class="blc-partners bg-dark" id="partners">
    <div class="container">
        <div class="head">
            <h1 class="title hr white">PARTNERS, TECH AND EARLY BACKERS</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                </div>
            </div>
        </div>
        <div class="row inverted">

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-ethereum.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-substrate.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-truffle.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-azure.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-polkadot.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-trustwallet.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-openzepplin.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/hyperledger.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/tu-dortmund.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/kpi.png') %>" alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid"
                         src="<%= fixUrl(current.path,'content/img/partners/logo-alltagsengel.png') %>" alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-enivo.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-solidity.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-bia.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-pmh.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-2 col-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-callisto-network.png') %>"
                         alt="">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="blc-partners bg-dark">
<div class="container">
    <div class="head">
        <h1 class="title hr white">As featured in</h1>
        <div class="row">
            <div class="offset-md-2 col-md-8 justify">
            </div>
        </div>
    </div>
    <div class="row inverted">

        <div class="col-md-2 col-4">
            <div class="image">
                <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-techcrunch.png') %>"
                     alt="">
            </div>
        </div>

        <div class="col-md-2 col-4">
            <div class="image">
                <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-bnt.png') %>" alt="">
            </div>
        </div>

        <div class="col-md-2 col-4">
            <div class="image">
                <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-cryptoverze.png') %>"
                     alt="">
            </div>
        </div>

        <div class="col-md-2 col-4">
            <div class="image">
                <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-bw.png') %>"
                     alt="">
            </div>
        </div>

        <div class="col-md-2 col-4">
            <div class="image">
                <img class="img-fluid" src="<%= fixUrl(current.path,'content/img/partners/logo-humansofbc.png') %>"
                     alt="">
            </div>
        </div>

    </div>
</div>
</section>