<% include helpers.ejs %>
<%- partial("/shared/_hero") %>
<%- partial("/shared/_tge_sell") %>

<%- partial("/shared/_listing-carousel") %>

<%- partial("/shared/_about") %>
<%- partial("/shared/_about-substrate") %>

<%- partial("/shared/_whitepaper") %>

<%- partial("/shared/_tge") %>
<%- partial("/shared/_graph") %>


<%- partial("/shared/_newsletter") %>

<%- partial("/shared/_news") %>
<%- /*
partial("/shared/_solutions")
partial("/shared/_solutions_two")
*/ %>




<div id="platform" style="display: none">
    <%- partial("/shared/_features") %>
    <%- partial("/shared/_features-carousel") %>
</div>





<%
if (false) {

    partial("/shared/_team")
    partial("/shared/_investors")

    partial("/shared/_ico")
    partial("/shared/_token")
    partial("/shared/_graph")

    partial("/shared/_timeline")
}
%>

<%- partial("/shared/_whitepaper") %>

<%- partial("/shared/_faq") %>
<%- partial("/shared/_partners") %>
<%- partial("/shared/_footer") %>
